<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gseven.studentplanner">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.StudentPlanner">
        <activity
            android:name=".goaltracker.EditGoalActivity"
            android:parentActivityName=".goaltracker.GoalTrackerActivity"/>
        <activity
            android:name=".goaltracker.AddGoalActivity"
            android:parentActivityName=".goaltracker.GoalTrackerActivity" />
        <activity
            android:name=".notes.EditNotesActivity"
            android:parentActivityName=".notes.NotesMainActivity"/>
        <activity android:name=".signup.SignUpSuccess" />
        <activity android:name=".planner.ViewPlanner" />
        <activity android:name=".degreetracker.ViewGPA" />
        <activity android:name=".signup.SignUp" />
        <activity android:name=".EditProfileActivity" />
        <activity
            android:name=".notes.NotesMainActivity"
            android:parentActivityName=".MainMenuActivity"/>
        <activity
            android:name=".goaltracker.GoalTrackerActivity"
            android:label="@string/title_activity_goal_tracker"
            android:theme="@style/Theme.StudentPlanner.NoActionBar" />
        <activity
            android:name=".degreetracker.ViewAllCoursesActivity"
            android:parentActivityName=".degreetracker.DegreeTrackerActivity" />
        <activity
            android:name=".degreetracker.EditCourseActivity"
            android:parentActivityName=".degreetracker.ViewAllCoursesActivity" />
        <activity
            android:name=".degreetracker.AddNewCourseActivity"
            android:parentActivityName=".degreetracker.DegreeTrackerActivity" />
        <activity android:name=".MainMenuActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".degreetracker.DegreeTrackerActivity"
            android:parentActivityName=".MainMenuActivity" />
        <activity
            android:name=".ui.login.LoginActivity"
            android:label="@string/app_name" />
    </application>

</manifest>